.productForm {
	margin-top: 5%;
}

.productForm input {
	margin-bottom: 15px;
}

.productForm button {
	margin-right: 15px;
}

textarea {
	resize: none;
	overflow: auto;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 6px 12px;
	color: #555;
}

img {
	border: 1px gray solid;
}